<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <nav class="navbar navbar-dark bg-primary">
                <div class="row">
                    <form class="form-inline">
                        <div class="col">
                            <!-- mi faccio dare l'anno corrente e lo imposto come valore. Il massimo è l'anno corrente + 1 -->
                            <input type="number" class="form-control" 
                                [min]="getAnnoCorrente()" [max]="getAnnoCorrente()+1" [value]="getAnnoCorrente()" 
                                (input)="onInputAnno(inputAnno.value)" #inputAnno>
                        </div>
                        <div class="col">
                            <select class="form-control" (input)="onInputMese(inputMese.value)" #inputMese>
                                <!-- per ogni mese imposto l'indice = i e verifico se si tratta del mese corrente-->
                                <option *ngFor="let mese of mesi; let i = index" value="{{i}}" [selected]="isMeseCorrente(i)">{{mese}}</option>
                            </select>
                        </div>
                    </form>
                    <div class="col">
                        <button class="btn btn-light w3-xlarge fa fa-folder-open" (click)="carica()"><span class="miofont">&nbsp;Apri</span></button>
                    </div>
                    <div class="col">
                        <button class="btn btn-light w3-xlarge fa fa-save" (click)="salva()"><span class="miofont">&nbsp;Salva</span></button>
                    </div>
                    <div class="col">
                        <button class="btn btn-light w3-xlarge fa fa-print" onclick="window.print()"><span class="miofont">&nbsp;Stampa</span></button>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>

<!-- Finestra modale del messaggio di salvataggio-->
<div class="overlay" *ngIf="popup" >
	<div class="popup">
		<h2 [ngClass]="errore?'text-danger':''">{{titoloMessaggio}}</h2>
		<a class="close" (click)="popup = false">&times;</a>
		<div class="content" [ngClass]="errore?'text-danger':''">{{testoMessaggio}}</div>
	</div>
</div>
