<div class="container-fluid">
    <div class="row">
        <div class="col">
            <table border="1">
                <thead>
                  <tr>
                    <th>#</th>
                    <th *ngFor="let giorno of giorni">{{giorno}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let persona of personale">
                    <td>{{persona}}</td>
                    <td *ngFor="let giorno of giorni" appDomenica [giorno]="giorno"><app-cella [giorno]="giorno" [persona]="persona"></app-cella></td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <th>#</th>
                    <th *ngFor="let giorno of giorni">{{giorno}}</th>
                  </tr>
                </tfoot>
              </table>
        </div>
    </div>
</div>

<div class="container-fluid">
  
  <div class="row">
    <div class="col">
      <hr>
    </div>
  </div>

  <div class="row">
      <div class="col">
          <table border="1">
              <thead>
                <tr>
                  <th>#</th>
                  <th *ngFor="let tipologia of tipologie">{{tipologia}}</th>
                </tr>
              </thead>
              <tbody>
                <!--
                <tr *ngFor="let persona of personale">
                  <td>{{persona}}</td>
                  <td *ngFor="let tipologia of tipologie"><app-totali [persona]="persona" [tipologia]="tipologia"></app-totali></td>
                </tr>
                -->
                <tr *ngFor="let tot of listaTotali">
                  <td>{{tot.name}}</td>
                  <td><b>{{tot.presenze}}</b></td>
                  <td><b>{{tot.notti}}</b></td>
                  <td><b>{{tot.saleOperatorie}}</b></td>
                  <td><b>{{tot.oreFestive}}</b></td>
                  <td><b>{{tot.oreReperibilita}}</b></td>
                  <td><b>{{tot.fineSettimanaLiberi}}</b></td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <th>#</th>
                  <th *ngFor="let tipologia of tipologie">{{tipologia}}</th>
                </tr>
              </tfoot>
            </table>
      </div>
  </div>
</div>

